*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: cadetblue;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 10%;
    width: 30dvw;
    background-color: cornflowerblue;
}
.box{
    padding: 5dvh 5dvh;
}

.title h1{
    color: aliceblue;
    font-size: 20px;
}
#input-btn{
    width: 20dvw;

}

.output-area{
    padding: 10px;
}
#display{
    background-color: darkgray;
    outline: none;
}